<?xml version="1.0"?>
<config>
    <modules>
        <Sfrost2004_MDCMK91SkipCheckoutStep>
            <version>1.0.0</version>
        </Sfrost2004_MDCMK91SkipCheckoutStep>
    </modules>
    <global>
        <helpers>
            <sfrost2004_mdcmk91skipcheckoutstep>
                <class>Sfrost2004_MDCMK91SkipCheckoutStep_Helper</class>
            </sfrost2004_mdcmk91skipcheckoutstep>
        </helpers>
        <models>
            <sfrost2004_mdcmk91skipcheckoutstep>
                <class>Sfrost2004_MDCMK91SkipCheckoutStep_Model</class>
            </sfrost2004_mdcmk91skipcheckoutstep>
        </models>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <sfrost2004_mdcmk91skipcheckoutstep before="Mage_Checkout">Sfrost2004_MDCMK91SkipCheckoutStep</sfrost2004_mdcmk91skipcheckoutstep>
                    </modules>
                </args>
            </checkout>
        </routers>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <sfrost2004_mdcmk91skipcheckoutstep>
                        <class>sfrost2004_mdcmk91skipcheckoutstep/observer</class>
                        <type>singleton</type>
                        <method>setTemplate</method>
                    </sfrost2004_mdcmk91skipcheckoutstep>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <!--<core_block_abstract_to_html_before>
                <observers>
                    <sfrost2004_mdcmk91skipcheckoutstep>
                        <class>sfrost2004_mdcmk91skipcheckoutstep/observer</class>
                        <type>singleton</type>
                        <method>setProgressTemplate</method>
                    </sfrost2004_mdcmk91skipcheckoutstep>
                </observers>
            </core_block_abstract_to_html_before>-->
        </events>
    </frontend>
</config>
