<?xml version="1.0"?>
<config>
    <modules>
        <Sfrost2004_PaymentSurcharge>
            <version>1.0.0</version>
        </Sfrost2004_PaymentSurcharge>
    </modules>
    <global>
        <blocks>
            <sfrost2004_paymentsurcharge>
                <class>Sfrost2004_PaymentSurcharge_Block</class>
            </sfrost2004_paymentsurcharge>
        </blocks>
        <helpers>
            <sfrost2004_paymentsurcharge>
                <class>Sfrost2004_PaymentSurcharge_Helper</class>
            </sfrost2004_paymentsurcharge>
        </helpers>
        <models>
            <sfrost2004_paymentsurcharge>
                <class>Sfrost2004_PaymentSurcharge_Model</class>
            </sfrost2004_paymentsurcharge>
        </models>
        <resources>
            <sfrost2004_paymentsurcharge_setup>
                <setup>
                    <module>Sfrost2004_PaymentSurcharge</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </sfrost2004_paymentsurcharge_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <payment_surcharge>
                        <class>mcd_meeting09/total_quote_address_payment_surcharge</class>
                        <after>subtotal,discount</after>
                        <before>shipping</before>
                    </payment_surcharge>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <payment_surcharge>
                        <class>mcd_meeting09/total_order_invoice_payment_surcharge</class>
                        <after>subtotal,discount</after>
                        <before>shipping</before>
                    </payment_surcharge>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <payment_surcharge>
                        <class>mcd_meeting09/total_order_creditmemo_payment_surcharge</class>
                        <after>subtotal,discount</after>
                        <before>shipping</before>
                    </payment_surcharge>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <payment_surcharge translate="title" module="mcd_meeting09">
                    <title>Shipping Surcharge</title>
                    <source_field>payment_surcharge_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>450</sort_order>
                </payment_surcharge>
            </totals>
        </pdf>
    </global>
</config>
